{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="alert alert-success" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

    <div class="d-flex justify-content-center mb-5">
        <h1>Torquay Tel Aviv</h1>
    </div>

    <div class="d-flex justify-content-center">

    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'hotel1.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Best hotel rooms</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="{% static 'hotel2.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Best Views</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

                    <div class="card" style="width: 18rem;">
            <img src="{% static 'hotel2.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Best Views</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>

</div>
{% endblock %}